<table>
  <tr>
    <th>Name</th>
    <th>Open Tickets</th>
    <th>Total Tickets</th>
  </tr>
  <% projects.each do |project| %>
    <tr>
      <td>
        <%= link_to project.name, project_path(project) %>
        <p>
          <%= project.description %>
        </p>
      </td>
      <td>
        <%= project.tickets.count { |ticket| ticket.status.downcase != 'fixed' } %>
      </td>
      <td>
        <%= project.tickets.length %>
      </td>
    </tr>
  <% end %>
</table>
